.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex-direction: column;
}

.formWrapper{
    border-radius: 4px;
    width: 400px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.textField{
    margin: 10px 0px;
}